# List Advance , Set, Dictionary, and Tuple

## List Slicing

In [20]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [21]:
numbers[2]

'Two'

In [22]:
# index 6 not include , this is list slicing
numbers[2:6]

['Two', 'Three', 'Four', 'Five']

In [23]:
# default start value is zero
numbers[:6]

['Zero', 'One', 'Two', 'Three', 'Four', 'Five']

In [24]:
# start index 3 up to end the list
numbers[3:]

['Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']

In [25]:
# it's start with and it's get every second element until index 8
numbers[1:8:2]

['One', 'Three', 'Five', 'Seven']

In [26]:
# it's start with and it's get every third element until index 8
numbers[1:8:3]

['One', 'Four', 'Seven']

In [27]:
# it's start with and it's get every third element until end
numbers[::3]

['Zero', 'Three', 'Six', 'Nine']

In [28]:
# slicing with reverse order
numbers[::-1]

['Nine',
 'Eight',
 'Seven',
 'Six',
 'Five',
 'Four',
 'Three',
 'Two',
 'One',
 'Zero']

In [29]:
# start from the right side fetched element every third element from the right side 
numbers[::-3]

['Nine', 'Six', 'Three', 'Zero']

In [30]:
#delete index 3 until end
del numbers[3:]

In [31]:
numbers

['Zero', 'One', 'Two']

In [37]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [38]:
#delete index 5 until exclude index 7 
del numbers[5:7]

In [39]:
numbers

['Zero', 'One', 'Two', 'Three', 'Four', 'Seven', 'Eight', 'Nine']

In [40]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [41]:
numbers[3:7]=[3,4,5,6]

In [42]:
numbers

['Zero', 'One', 'Two', 3, 4, 5, 6, 'Seven', 'Eight', 'Nine']

## List Looping , Sorting, and Reverse

In [43]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [44]:
numbers.reverse()

In [45]:
numbers

['Nine',
 'Eight',
 'Seven',
 'Six',
 'Five',
 'Four',
 'Three',
 'Two',
 'One',
 'Zero']

In [46]:
reversed(numbers)

In [47]:
for number in reversed(numbers):
    print(number)

Zero
One
Two
Three
Four
Five
Six
Seven
Eight
Nine

In [49]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [50]:
numbers

['Zero',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine']

In [53]:
# because alphabetic ordered not number ordered
numbers.sort()

In [54]:
numbers

['Eight',
 'Five',
 'Four',
 'Nine',
 'One',
 'Seven',
 'Six',
 'Three',
 'Two',
 'Zero']

In [55]:
for number in sorted(numbers):
    print(number)

Eight
Five
Four
Nine
One
Seven
Six
Three
Two
Zero

In [57]:
numbers = ['Zero','One','Two','Three','Four','Five','Six','Seven','Eight','Nine']

In [58]:
numbers

['Zero',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine']

In [59]:
for number in sorted(numbers, key=len):
    print(number)

One
Two
Six
Zero
Four
Five
Nine
Three
Seven
Eight

In [61]:
for number in sorted(numbers, key=len, reverse=True):
    print(number)

Three
Seven
Eight
Zero
Four
Five
Nine
One
Two
Six

In [63]:
numbers.sort(key=len)

In [64]:
numbers

['One',
 'Two',
 'Six',
 'Zero',
 'Four',
 'Five',
 'Nine',
 'Three',
 'Seven',
 'Eight']

In [65]:
numbers.sort(key=len, reverse=True)

In [66]:
numbers

['Three',
 'Seven',
 'Eight',
 'Zero',
 'Four',
 'Five',
 'Nine',
 'One',
 'Two',
 'Six']

## List as a Stach and Queue

In [67]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)

In [68]:
numbers.pop()

4

In [69]:
numbers

[1, 2, 3]

In [70]:
numbers.pop()

3

In [71]:
numbers

[1, 2]

In [72]:
numbers.append(10)

In [73]:
numbers.pop()

10

In [74]:
numbers

[1, 2]

In [75]:
numbers.pop(0)

1

In [76]:
numbers

[2]

# List with custom class Country

In [77]:
from operator import attrgetter

class Country:

    def __init__(self, name, population, area):
        self.name = name
        self.population = population
        self.area = area

    def __repr__(self):
        return repr((self.name,self.population,self.area))

In [78]:
countries = [Country('India',1200,100),
             Country('China', 1400, 200),
             Country('USA', 120, 300)]

In [79]:
countries.append(Country('Russia',80,900))

In [80]:
countries.sort(key=attrgetter('population'), reverse=True)

In [81]:
print(max(countries, key=attrgetter('population')))
print(min(countries, key=attrgetter('population')))
print(min(countries, key=attrgetter('area')))
print(max(countries, key=attrgetter('area')))

print(countries)

('China', 1400, 200)
('Russia', 80, 900)
('India', 1200, 100)
('Russia', 80, 900)
[('China', 1400, 200), ('India', 1200, 100), ('USA', 120, 300), ('Russia', 80, 900)]

## Introduction to Set

In [82]:
numbers = [1,2,3,2,1]

In [83]:
numbers

[1, 2, 3, 2, 1]

In [84]:
numbers_set = set(numbers)

In [86]:
numbers_set

{1, 2, 3}

In [87]:
numbers_set.add(3)

In [88]:
numbers_set

{1, 2, 3}

In [89]:
numbers_set.add(4)

In [90]:
numbers_set

{1, 2, 3, 4}

In [91]:
min(numbers_set)

1

In [92]:
max(numbers_set)

4

In [93]:
sum(numbers_set)

10

In [94]:
len(numbers_set)

4

## Introduction to Dictionary

In [97]:
occurence = dict(a=5, b=6, c=8)

In [98]:
occurence

{'a': 5, 'b': 6, 'c': 8}

In [99]:
type(occurence)

dict

In [100]:
occurence['d']=15

In [101]:
occurence

{'a': 5, 'b': 6, 'c': 8, 'd': 15}

In [102]:
occurence['d']=10

In [103]:
occurence

{'a': 5, 'b': 6, 'c': 8, 'd': 10}

In [105]:
occurence.get('d')

10

In [106]:
occurence.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [107]:
occurence.values()

dict_values([5, 6, 8, 10])

In [108]:
occurence.items()

dict_items([('a', 5), ('b', 6), ('c', 8), ('d', 10)])

In [110]:
for key,value in occurence.items():
    print(f"{key} {value}")

a 5
b 6
c 8
d 10

## Exercise Dictionary

In [120]:
str = 'This is an awesome occasion. This has never happened before'

In [121]:
char_occurence = {}

In [122]:
for char in str:
    char_occurence[char]=char_occurence.get(char,0)+1

print(char_occurence)

{'T': 2, 'h': 4, 'i': 4, 's': 6, ' ': 9, 'a': 5, 'n': 4, 'w': 1, 'e': 8, 'o': 4, 'm': 1, 'c': 2, '.': 1, 'v': 1, 'r': 2, 'p': 2, 'd': 1, 'b': 1, 'f': 1}

In [123]:
word_occurence = {}

In [124]:
for word in str.split():
    word_occurence[word]=word_occurence.get(word,0)+1

print(word_occurence)

{'This': 2, 'is': 1, 'an': 1, 'awesome': 1, 'occasion.': 1, 'has': 1, 'never': 1, 'happened': 1, 'before': 1}

## Tuple

In [126]:
def create_ranga():
    return 'Ranga',1981,'India'

In [129]:
ranga = create_ranga()

In [130]:
type(ranga)

tuple

In [131]:
name, year, country = ranga

In [132]:
ranga

('Ranga', 1981, 'India')

In [133]:
name

'Ranga'

In [134]:
year

1981

In [135]:
country

'India'