# Data Type Conversion - Puzzle

In [1]:
str(True)

'True'

In [4]:
bool('True')

True

In [5]:
bool('true')

True

In [6]:
bool('tru')

True

In [7]:
bool('False')

True

In [8]:
bool('false')

True

In [9]:
bool('')

False

In [10]:
str(123)

'123'

In [11]:
str(12345)

'12345'

In [12]:
str(12345.45678)

'12345.45678'

In [15]:
int('45')

45

In [16]:
int('45.56')

ValueError: invalid literal for int() with base 10: '45.56'

### ware are using hexadecimal, we are saying the base is 16

In [18]:
int('45abc',16)

285372

In [19]:
int('a',16)

10

In [20]:
int('b',16)

11

In [21]:
int('c',16)

12

In [22]:
int('d',16)

13

In [23]:
int('e',16)

14

In [24]:
int('f',16)

15

In [25]:
int('g',16)

ValueError: invalid literal for int() with base 16: 'g'

In [28]:
float('34.43')

34.43

In [29]:
float('34.43adasd')

ValueError: could not convert string to float: '34.43adasd'